
@font-face {font-family: "iconfont";
  src: url('https://at.alicdn.com/t/font_2341192_rqif78i0xb.ttf?t=1617093243986') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question-circle:before {
  content: "\e78c";
}

.icon-edit-fill:before {
  content: "\e914";
}

.icon-file-copy-fill:before {
  content: "\e8e2";
}

.icon-container:before {
  content: "\e7d4";
}

.icon-location:before {
  content: "\e7a5";
}

.icon-user:before {
  content: "\e7ce";
}

.icon-like:before {
  content: "\e805";
}

.icon-message:before {
  content: "\e79d";
}

.icon-moneycollect:before {
  content: "\e80b";
}

.icon-send:before {
  content: "\e9d0";
}

.icon-minus:before {
  content: "\e88c";
}

.icon-plus:before {
  content: "\e9a9";
}

.icon-close-circle-fill:before {
  content: "\e89d";
}

.icon-piccameraadd:before {
  content: "\e688";
}

.icon-caret-down:before {
  content: "\e999";
}

.icon-up:before {
  content: "\e858";
}

.icon-warning-circle-fill:before {
  content: "\e8af";
}

.icon-chuyuan:before {
  content: "\eca0";
}

.icon-jikuaidi:before {
  content: "\e600";
}

.icon-shouhuo:before {
  content: "\e6d2";
}

.icon-phone-fill:before {
  content: "\e913";
}

.icon-ziliaoshenhe:before {
  content: "\e624";
}

.icon-qianming:before {
  content: "\e69f";
}

.icon-shenpi:before {
  content: "\e680";
}

.icon-warning-circle:before {
  content: "\e796";
}

.icon-lock-fill:before {
  content: "\e90c";
}

.icon-note:before {
  content: "\e7d8";
}

.icon-shuju1:before {
  content: "\e662";
}

.icon-close-circle:before {
  content: "\e781";
}

.icon-right:before {
  content: "\e856";
}

.icon-scan_m:before {
  content: "\e674";
}

.icon-jiatingyisheng:before {
  content: "\e62d";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-check:before {
  content: "\e886";
}

.icon-down:before {
  content: "\e859";
}

.icon-logo:before {
  content: "\e602";
}

.icon-logo1:before {
  content: "\e603";
}

.icon-edit-square:before {
  content: "\e7a6";
}

.icon-qrcode:before {
  content: "\e82f";
}

.icon-left:before {
  content: "\e857";
}

.icon-close:before {
  content: "\e889";
}

.icon-logo2:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e9a1";
}